//font
$primary-font: "cerebri san", serif;
$secondary-font: "Gilroy";

// Primary Colors
$primary-dark-blue: #0017e2;

$primary-color: #545a6d;
$green-color: #2bc71e;
$dark-gray: #4d5561;
$black: #000000;
$white: #ffffff;
// Accent Colors

// Other Colors
$color-dark: #232c34;
